# Manipulação EDA da base de dados Titanic

## Importando pacotes e bibliotecas

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sas
import pandas as pd
import numpy as np
#---
from utils.tratar_dados import *
from utils.funcoes_graficas import *

## Importando base de dados

### Importando de um .csv

In [ ]:
file_name = "titanic"
titanic_dataframe = read_data(file_name)

### Importando de um .pkl

In [ ]:
file_name = "titanic"
titanic_dataframe = read_data(file_name)

## Tratamento dos dados

### Passando os títulos para minúsculo

In [ ]:
titulos = titanic_dataframe.columns
titulos = fix_header_to_standarts(titulos)
titanic_dataframe.columns = titulos

### Remoção de espaços

In [ ]:
# Nao foi necessario

### Remoção de caracteres proibidos

In [ ]:
# Nao foi necessario

### Normalização dos dados

In [ ]:
titanic_dataframe.info()

In [ ]:
titanic_dataframe.sample(10)

#### Tratamento de NaNs

##### Coluna "cabin"

In [ ]:
coluna_cabine = "cabin"
for coluna in titanic_dataframe.columns:
    if coluna_cabine == coluna:
        titanic_dataframe[f"{coluna}"] = titanic_dataframe[f"{coluna}"].fillna("unknown")


titanic_dataframe.sample(5)

In [ ]:
titanic_dataframe.cabin = fix_header_to_standarts(titanic_dataframe.cabin.values)

##### Coluna "age"

In [ ]:
coluna_cabine = "age"
media = int(round(titanic_dataframe.age.mean(), 0))

for coluna in titanic_dataframe.columns:
    if coluna_cabine == coluna:
        titanic_dataframe[f"{coluna}"] = titanic_dataframe[f"{coluna}"].fillna(media)


titanic_dataframe.sample(5)

##### Coluna "embarked"

In [ ]:
titanic_dataframe.embarked.unique()

In [ ]:
# NAO EXECUTE ESSA CELUNA MAIS DE UMA UNICA VEZ
titanic_dataframe.embarked = titanic_dataframe.embarked.map({
    "C": 0,
    "Q": 1,
    "S": 2
    }
)

In [ ]:
titanic_dataframe.sample(5)

##### Coluna "sex"

In [ ]:
titanic_dataframe.sex.unique()

In [ ]:
# NAO EXECUTE ESSA CELUNA MAIS DE UMA UNICA VEZ
titanic_dataframe.sex = titanic_dataframe.sex.map({
    "male": 0,
    "female": 1
    }
)

In [ ]:
titanic_dataframe.sample(5)

#### Tratamento de tipos

In [ ]:
id_max = titanic_dataframe.passengerid.max()
fare_max = round(titanic_dataframe.fare.max(), 2)
print(f"O maior id é:\t\t{id_max}\nA maior tarifa é:\t{fare_max}\n")

In [ ]:
### coluna passengerid
titanic_dataframe.passengerid = titanic_dataframe.passengerid.astype("uint16")

### coluna survided
titanic_dataframe.survived = titanic_dataframe.survived.astype("uint8")

### coluna pclass
titanic_dataframe.pclass = titanic_dataframe.pclass.astype("uint8")

### coluna name
titanic_dataframe.name = titanic_dataframe.name.astype("category")

### coluna sex
titanic_dataframe.sex = titanic_dataframe.sex.astype("uint8")

### coluna age
titanic_dataframe.age = titanic_dataframe.age.astype("uint8")

### coluna sibsp
titanic_dataframe.sibsp = titanic_dataframe.sibsp.astype("uint8")

### coluna parch
titanic_dataframe.parch = titanic_dataframe.parch.astype("uint8")

### coluna ticket
titanic_dataframe.ticket = titanic_dataframe.ticket.astype("category")

### coluna fare
titanic_dataframe.fare = titanic_dataframe.fare.astype("float16")
# titanic_dataframe.fare = titanic_dataframe["fare"].apply(np.floor)

### coluna cabin
titanic_dataframe.cabin = titanic_dataframe.cabin.astype("category")

### coluna embarked
titanic_dataframe.embarked = titanic_dataframe.embarked.astype("uint8")

In [ ]:
titanic_dataframe.info()

#### Exclusão de colunas inconclusívas

##### Coluna "name"

In [ ]:
titanic_dataframe = titanic_dataframe.drop(["name"], axis=1)
titanic_dataframe.sample(5)

##### Coluna "ticket"

In [ ]:
titanic_dataframe = titanic_dataframe.drop(["ticket"], axis=1)
titanic_dataframe.sample(5)

##### Coluna "cabin"

In [ ]:
titanic_dataframe = titanic_dataframe.drop(["cabin"], axis=1)
titanic_dataframe.sample(5)

#### Resultado final

In [ ]:
titanic_dataframe.info()

# Se quiser salvar descomentar bloco a seguir
#
#
# file_name = "titanic"
# save_pkl_file(titanic_dataframe, file_name)
#
#

## Extração dos dados

### Média

#### Coluna "age"

In [ ]:
media_idade = round(titanic_dataframe.age.mean(), ndigits=1)
print(f"A média de idade é: {media_idade}\n")

#### Coluna "fare"

In [ ]:
media_taxa = round(titanic_dataframe.fare.mean(), ndigits=2)
print(f"A média de taxa é: {media_taxa}\n")

### Mediana

#### Coluna "age"

In [ ]:
mediana_idade = titanic_dataframe.age.median()
print(f"A mediana de idade é: {mediana_idade}\n")

#### Coluna "fare"

In [ ]:
mediana_taxa = titanic_dataframe.fare.median()
print(f"A mediana de taxa é: {round(mediana_taxa, 0)}\n")

### Moda

#### Coluna "age"

In [ ]:
moda_idade = titanic_dataframe.age.mode()
print(f"A moda de idade é: {moda_idade}\n")

#### Coluna "fare"

In [ ]:
moda_taxa = titanic_dataframe.fare.mode()
print(f"A moda de taxa é: {moda_taxa}\n")

### Desvio padrão

#### Coluna "age"

In [ ]:
desvio_padrao_idade = round(titanic_dataframe.age.std(), 2)

if desvio_padrao_idade == np.Inf:
    print(f"O desvio padrão da idade é infinito\n")
else:
    print(f"O desvio padrão da idade é: {desvio_padrao_idade}\n")

#### Coluna "fare"

In [ ]:
desvio_padrao_taxa = round(titanic_dataframe.fare.std(), 2)

if desvio_padrao_taxa == np.Inf:
    print(f"O desvio padrão da taxa é infinito\n")
else:    
    print(f"O desvio padrão da taxa é: {desvio_padrao_taxa}\n")

### Contagem (Count)

#### Coluna "survived"

In [ ]:
titanic_dataframe.survived.unique()

In [ ]:
qtd_mortes = titanic_dataframe.survived.value_counts()[1]
qtd_vivos = titanic_dataframe.survived.value_counts()[0]

print(f"O números de sobreviventes é:\t{qtd_vivos}\nO número de mortos é:\t\t{qtd_mortes}\n")

#### Coluna "pclass"

In [ ]:
titanic_dataframe.pclass.unique()

In [ ]:
qtd_classe_1 = titanic_dataframe.pclass.value_counts()[1]
qtd_classe_2 = titanic_dataframe.pclass.value_counts()[2]
qtd_classe_3 = titanic_dataframe.pclass.value_counts()[3]

print(f"O números de pessoas na classe 1 é: {qtd_classe_1}\nO números de pessoas na classe 2 é: {qtd_classe_2}\nO números de pessoas na classe 3 é: {qtd_classe_3}\n")

#### Coluna "sex"

In [ ]:
titanic_dataframe.sex.unique()

In [ ]:
qtd_homens = titanic_dataframe.sex.value_counts()[0]
qtd_mulheres = titanic_dataframe.sex.value_counts()[1]

print(f"O números de mulheres é:\t{qtd_mulheres}\nO número de homens é:\t\t{qtd_homens}\n")

#### Coluna "sibsp"

In [ ]:
titanic_dataframe.sibsp.unique()

In [ ]:
qtd_solo = titanic_dataframe.sibsp.value_counts()[0]
qtd_par = titanic_dataframe.sibsp.value_counts()[1]
qtd_trio = titanic_dataframe.sibsp.value_counts()[2]
qtd_quatro = titanic_dataframe.sibsp.value_counts()[3]
qtd_cinco = titanic_dataframe.sibsp.value_counts()[4]
qtd_seis = titanic_dataframe.sibsp.value_counts()[5]
qtd_nove = titanic_dataframe.sibsp.value_counts()[8]

print(f"""
Pessoas sozinhas:               {qtd_solo}
Pessoas com um único familiar:  {qtd_par}
Pessoas com dois familiares:     {qtd_trio}
Pessoas com três familiares:      {qtd_quatro}
Pessoas com quatro familiares:    {qtd_cinco}
Pessoas com cinco familiares:     {qtd_seis}
Pessoas com oito familiares:      {qtd_nove}
      """)

#### "parch"

In [ ]:
titanic_dataframe.parch.unique()

In [ ]:
parch_zero = titanic_dataframe.parch.value_counts()[0]
parch_um = titanic_dataframe.parch.value_counts()[1]
parch_dois = titanic_dataframe.parch.value_counts()[2]
parch_tres = titanic_dataframe.parch.value_counts()[3]
parch_quatro = titanic_dataframe.parch.value_counts()[4]
parch_cinco = titanic_dataframe.parch.value_counts()[5]
parch_seis = titanic_dataframe.parch.value_counts()[6]
parch_nove = titanic_dataframe.parch.value_counts()[9]

print(f"""
Pessoas com bilhete 0: {parch_zero}
Pessoas com bilhete 1:  {parch_um}
Pessoas com bilhete 2:  {parch_dois}
Pessoas com bilhete 3:   {parch_tres}
Pessoas com bilhete 4:   {parch_quatro}
Pessoas com bilhete 5:   {parch_cinco}
Pessoas com bilhete 6:   {parch_seis}
Pessoas com bilhete 9:   {parch_nove}
      """)

#### Coluna "embarked"

In [ ]:
titanic_dataframe.embarked.unique()

In [ ]:
embarque_c = titanic_dataframe.embarked.value_counts()[0]
embarque_q = titanic_dataframe.embarked.value_counts()[1]
embarque_s = titanic_dataframe.embarked.value_counts()[2]

print(f"Número de pessoas que embarcaram pelo portão C: {embarque_c}\nNúmero de pessoas que embarcaram pelo portão Q: {embarque_q}\nNúmero de pessoas que embarcaram pelo portão S: {embarque_s}\n")