In [1]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

Carregar os dados

In [2]:
titanic = pd.read_pickle("../../datasets/processed/titanic.pkl")
titanic.head()

   survived  p_class     sex       age  sibsp  parch     fare embarked
0     False        3    male  (19, 59]      1      0   7.2500        S
1      True        1  female  (19, 59]      1      0  71.2833        C
2      True        3  female  (19, 59]      0      0   7.9250        S
3      True        1  female  (19, 59]      1      0  53.1000        S
4     False        3    male  (19, 59]      0      0   8.0500        S

Pré processar

In [3]:
# Divide dados entre features e target
features = titanic.drop(columns=['survived'])
target = titanic['survived'].replace({True: 1, False: 0})

# Processar colunas categóricas
cat_columns = ['sex', 'age', 'embarked']

for column in cat_columns:
    label_encoder = LabelEncoder()
    features[column] = label_encoder.fit_transform(features[column])

# Normalizar colunas numerica
minMaxScaler = MinMaxScaler()
features['fare'] = minMaxScaler.fit_transform(features['fare'].values.reshape(-1, 1))

features

     p_class  sex  age  sibsp  parch      fare  embarked
0          3    1    1      1      0  0.014151         2
1          1    0    1      1      0  0.139136         0
2          3    0    1      0      0  0.015469         2
3          1    0    1      1      0  0.103644         2
4          3    1    1      0      0  0.015713         2
..       ...  ...  ...    ...    ...       ...       ...
886        2    1    1      0      0  0.025374         2
887        1    0    0      0      0  0.058556         2
888        3    0    1      1      2  0.045771         2
889        1    1    1      0      0  0.058556         0
890        3    1    1      0      0  0.015127         1

[891 rows x 7 columns]

In [5]:
models = [RandomForestClassifier, KNeighborsClassifier, DecisionTreeClassifier]
models_name = ['RandomForest', 'KNeighbors', 'DecisionTree']
scores = []

for model, model_name in zip(models, models_name):
    current_model = model()
    
    scores.append(cross_val_score(current_model, features, target, cv=5).mean() * 100)
    
df = pd.DataFrame({'model': models_name, 'score': scores })
df

          model      score
0  RandomForest  80.586906
1    KNeighbors  80.699893
2  DecisionTree  80.924612