In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
titanic = pd.read_pickle("../../datasets/processed/titanic.pkl")
titanic.head()

   passengerid  survived  p_class     sex       age  sibsp  parch
0            1     False        3    male  (19, 59]      1      0
1            2      True        1  female  (19, 59]      1      0
2            3      True        3  female  (19, 59]      0      0
3            4      True        1  female  (19, 59]      1      0
4            5     False        3    male  (19, 59]      0      0

In [3]:
titanic.drop(columns=['passengerid'], inplace=True)
titanic.nunique()

survived    2
p_class     3
sex         2
age         3
sibsp       7
parch       7
dtype: int64

In [4]:
X = titanic.drop(columns=['survived'])
y = titanic['survived']

y = y.replace({True: 1, False: 0})

X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((668, 5), (223, 5), (668,), (223,))

In [5]:
columns = ['sex', 'age']

for column in columns:
    lb_encoder = LabelEncoder()
    lb_encoder.fit(X_train[column])

    X_train[column] = lb_encoder.transform(X_train[column])
    X_test[column] = lb_encoder.transform(X_test[column])

In [6]:
models = [RandomForestClassifier, KNeighborsClassifier, DecisionTreeClassifier]

for model in models:
    current_model = model()

    current_model.fit(X_train, y_train)
    y_hat = current_model.predict(X_test)
    print(f"Acurracy: {accuracy_score(y_test, y_hat) * 100}")

Acurracy: 75.7847533632287
Acurracy: 76.23318385650224
Acurracy: 76.23318385650224